@font-face {
  font-family:'Open Sans';
    src:url('opensans-regular.eot');
    src:url('opensans-regular.eot?#iefix') format('embedded-opentype'),
        url('opensans-regular.woff') format('woff');
  }
#banner {
    font-family:'Open Sans';
    position: absolute;
    color: #fff;
    background-color: rgba(60, 78, 89, 1);
    bottom:0;
    left: 0;
    right: 0;
    font-size: 20px;
    line-height: 40px;
    margin: 1%;
    cursor: pointer;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.1),
                     0px -5px 35px rgba(255,255,255,0.1);
    }
#text {    
    padding: 20px 40px 30px;
    }
.pointer-up {
    width: 0;
    height: 0;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid rgba(60, 78, 89, 1);
    }
