@font-face {
  font-family:'Open Sans';
    src:url('opensans-regular.eot');
    src:url('opensans-regular.eot?#iefix') format('embedded-opentype'),
        url('opensans-regular.woff') format('woff');
  }
body {
    margin:0;
    padding:0;
    background-color: rgb(60, 78, 89);
    font-family:'Open Sans';
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.1),
                 0px -5px 35px rgba(255,255,255,0.1);
    }
#map {
    position:absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    }
#banner {
    position: absolute;
    background-color: rgb(60, 78, 89);
    bottom:0;
    left: 0;
    right: 0;
    line-height: 40px;
    }
#text {    
    padding: 20px 30px;
    text-align: center;
    }
.pointer-up {
    width: 0;
    height: 0;
    top: -35px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid rgba(60, 78, 89, 1);
    }
.action {
    position: absolute;
    top: 30px;
    right:30px;
    background-color: rgb(60, 78, 89);
    padding: 5px 20px;
    display: none;
    }
